ipython~=8.17.2
traitlets~=5.13.0
numpy~=1.22.4
scipy~=1.11.3
scikit-learn~=1.2.2
pandas~=1.5.3
raiutils~=0.4.1
raiwidgets~=0.31.0
Flask~=2.2.5
responsibleai~=0.31.0
packaging~=23.2
erroranalysis~=0.5.2
matplotlib~=3.8.1
seaborn~=0.13.0
PyQt5~=5.15.10
econml~=0.14.1
fairlearn~=0.7.0
xgboost~=2.0.3
